<div class="footer-container">
  <div class="footer-column about">
    <h4>Kabianga Girls High School</h4>
    <p>
      Kabianga Girls High School is a prestigious institution dedicated to
      empowering young women through education and leadership programs. Our
      mission is to foster an environment of academic excellence and personal
      growth.
    </p>
  </div>

  <div class="footer-column menu">
    <h4>Menu</h4>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/administration">Administration</a></li>
      <li><a routerLink="/gallery">Gallery</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>

  <div class="footer-column social">
    <h4>Follow Us</h4>
    <div class="social-icons">
      <a
        href="https://facebook.com"
        target="_blank"
        class="social-icon facebook"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com" target="_blank" class="social-icon twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a
        href="https://instagram.com"
        target="_blank"
        class="social-icon instagram"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        href="https://linkedin.com"
        target="_blank"
        class="social-icon linkedin"
      >
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </div>
</div>
