<div class="navbar">
  <div class="logo">
    <span class="logo-text" routerLink="/">Kabianga girls</span>
  </div>
  <div class="nav-links">
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/services">Services</a>
    <a routerLink="/contact">Contact</a>
  </div>
  <div class="social-icons">
    <a href="#" class="social-icon">
      <i class="fab fa-facebook-f"></i>
      <!-- Facebook icon -->
    </a>
    <a href="#" class="social-icon">
      <i class="fab fa-twitter"></i>
      <!-- Twitter icon -->
    </a>
    <a href="#" class="social-icon">
      <i class="fab fa-instagram"></i>
      <!-- Instagram icon -->
    </a>
  </div>
</div>
