.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #09212b;
  padding: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar .logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar .nav-links {
  flex: 2;
  display: flex;
  justify-content: center;
}

.navbar .nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.navbar .nav-links .dropdown {
  position: relative;
}

.navbar .nav-links .dropdown .dropdown-toggle {
  cursor: pointer;
}

.navbar .nav-links .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #09212b;
  top: 100%;
  left: 0;
  padding: 10px 0;
  border-radius: 5px;
  width: 200px; /* Adjust the width here */
  max-width: 300px; 
}

.navbar .nav-links .dropdown:hover .dropdown-menu {
  display: block;
}

.navbar .nav-links .dropdown-menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.navbar .nav-links .dropdown-menu a:hover {
  background-color: #1d9bf0;
}

.navbar .social-icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar .social-icons a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  font-size: 20px;
}

.navbar .social-icons a:hover {
  color: #1d9bf0;
}

@media (max-width: 768px) {
  .navbar {
    padding: 30px 15px;
    width: 100%;
    margin: 0 auto;
  }

  .navbar .logo-text {
    font-size: 22px;
  }

  .navbar .nav-links {
    flex: 1;
  }

  .navbar .nav-links a {
    font-size: 14px;
    margin: 0 8px;
  }

  .navbar .social-icons a {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .navbar {
    display: none !important;
  }
}
