<div class="navbar">
  <div class="logo">
    <span class="logo-text">Kabianga girls</span>
  </div>
  <div class="nav-links">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Contact</a>
  </div>
  <div class="social-icons">
    <a href="#" class="social-icon">
      <i class="fab fa-facebook-f"></i>
      <!-- Facebook icon -->
    </a>
    <a href="#" class="social-icon">
      <i class="fab fa-twitter"></i>
      <!-- Twitter icon -->
    </a>
    <a href="#" class="social-icon">
      <i class="fab fa-instagram"></i>
      <!-- Instagram icon -->
    </a>
  </div>
</div>
