<app-banner [title]="'About Us'"></app-banner>

<div class="about-container">
  <div class="about-row">
    <div class="about-text">
      <h2 class="title">Our History</h2>
      <p class="text">
        Kabianga Girls High School started as a community harambee mixed
        boarding and day School. It was founded in 1982 and aimed at enhancing
        the education of youths at the secondary level of education. On this
        foundation, its aim was to absorb pupils from the neighbourhood only to
        collapse in the year 1987. Later in the year 1989, the Kabianga Girls
        (then Kapcheluch Day) opened its gates for boys and girls once more.
      </p>
      <p class="text">
        Kabianga Girls is situated on on 2.8 acre of land 2km from Kabianga
        market, in Kabianga location, Sosiot division of Belgut constituency.
        The school has been in existence for 33 years during which, many
        students have been able to benefit academically, spiritually and
        socially because qualitative academic provision for boys and girls has
        been lacking.
      </p>
    
      <p class="text">
      The school started as a single stream of about 120 students and has
      grown to three streams of approximately 700 students. The school is
      sponsored by the AIC Church, the current board of management chair is
      Joyce Chumo, and the PA chair Rev. Edward Kirui. The school has 22 TSC
      teachers, 11 BOM and 25 support staff.
    </p>
    </div>
    <div class="about-image">
      <img src="/assets/images/School_Gate.jpg" alt="Image" />
      <p class="text">
        The school infrastructure is not sufficient for the growing number of
        students population, and is currently undertaking construction of a 3
        storey boarding facility which will accommodate the growing students
        population. The government has committed to support the school
        infrastructure development to meet the competency Based Curriculum (CBC)
        requirements which will enable the school to be a top performer in the
        region. Plans are underway to improve the school infrastructure to cater
        to the needs of the school both in administration and academic needs.
        This is embedded in the school’s master plan.
      </p>
    </div>
  </div>
</div>
