<div class="banner"></div>

<div class="contact-info">
  <div class="contact-item">
    <i class="fa fa-phone"></i>
    <div>
      <p class="subtitle">phone</p>
      <p class="title">+254 789 8736 8389</p>
    </div>
  </div>
  <div class="contact-item email-item">
    <i class="fa fa-envelope"></i>
    <div>
      <p class="subtitle">Email</p>
      <p class="title">kabiangagirls&#64;yahoo.com</p>
    </div>
  </div>
  <div class="contact-item">
    <i class="fa fa-map-marker"></i>
    <div>
      <p class="subtitle">Address</p>
      <p class="title">Kabianga, Kericho County</p>
    </div>
  </div>
</div>
