<app-banner [title]="'Administration'"></app-banner>
<div class="administration-container">
  <div class="administration-row">
    <div class="administration-image">
      <img src="/assets/images/Lucie_Kirui_Principal.jpg" alt="Image" />
      <h2 class="title">Lucie Kirui <span> - Principal </span></h2>

      <p class="text">
        Kabianga Girls High School family is awesome and I take this opportunity
        to thank every player in this journey to success.
      </p>
      <p class="text">
        As we embark on this Five (5) year strategic plan I salute all the
        stakeholders, that is ; The Ministry of Education, Board of Management,
        parents, Teachers Service Commission, the political wing , staff and
        students for displaying team work. Your role in this school cannot be
        taken for granted.
      </p>
    </div>
    <div class="administration-text">
      <p class="text">
        I am pleased to report that for the last five years the school has grown
        terms of enrolment, physical infrastructure and National Examinations
        (KCSE) performance. We believe that the sky is not our limit, but we
        shall scale beyond this.
      </p>
      <p class="text">
        Today Kabianga girls High School boasts of a modern twin laboratory
        state of the art resource center as well as an upcoming modern dormitory
        to accommodate 1200 students upon completion.
      </p>
      <p class="text">
        To cater for increased enrolment, the current BOM/PA plans to build a
        modern administration block, a multi-purpose hall, additional classrooms
        and laboratories.
      </p>
      <p class="text">
        As i conclude, its my prayer that one day all will testify that Kabianga
        Girls High School made a difference in the lives of many girls.
      </p>
      <p class="text">“We believe that the sky is not our limit, but we shall scale beyond this”.</p>
    </div>
  </div>
  <div class="administration-row">
    <div class="administration-image">
      <img src="/assets/images/Joyce_Chumo_Board_Chair.jpg" alt="Image" />
      <h2 class="title">Joyce Chumo <span> - Board Chairperson </span></h2>

      <p class="text">
        I am privileged to have led the Board of Management of Kabianga girls’
        high school during the time when the Kabianga girls school’s strategic
        plan (for 2022-2027) was developed. For the board, the strategic plan is
        the key document for our work in guiding the school and its development
        on the next five years. Kabianga girls’ school is blessed with assets
        that contribute to the education and nurturing of the young Kenyan
        talent. These assets if carefully protected and expanded can serve even
        more Kenyan girls to reach their full potential not only in academics
        but also in sports, home science, drama, and music.
      </p>
      <p class="text">
        The strategic plan lays on the current status of the school, the
        staffing, and the infrastructure of the basis from a broad set of
        actionable plans that once implemented position Kabianga girls to be one
        of the best public High schools in Belgut, Kericho county. The board has
        great ambitions for Kabianga girls as a center of excellence in academic
        values and in co-curricular, and as a top academic High school. We are
        proud that Kabianga girls admits girls from all parts of the country and
        molds them in four years into talented responsible young girls with
        lifelong friendship formed between students of diverse background and
        origins.
      </p>
    </div>
    <div class="administration-text">
      <p class="text">
        On behalf of the Board, I want to thank everyone who engaged directly or
        indirectly in our strategic planning process. First is the school
        administration led by the School Principal Mrs. Lucie Kirui; the Board
        of Management members; the Parent Association members; the teaching and
        non-teaching staff fraternity; and the students’ community at large
        among others. These teams provided invaluable information and feedback
        that helped in ensuring the development of focused and realistic goals
        that align to the needs and aspirations of the school. They also
        provided critical leadership during the development process in ensuring
        breadth of vision and continuity of values and encouraging a truly
        collaborative, inclusive process.
      </p>
      <p class="text">
        The strategic five-year plan is ambitious for Kabianga girls with
        commitment by the Board, Ministry, the school administration, the
        parents, and all other stake holders including corporate partners, we
        believe that this plan can lead Kabianga girls High school to new
        heights of learning and teaching that will benefit many young Kenyan
        girls. This strategic plan will help in providing a framework and serve
        as an important guide in helping our school succeed bearing in mind the
        many national challenges facing our learning institutions. The
        recognized and opportunities will lay a firm foundation in strengthening
        our institutional capacity to help meet our goals and strategic
        objectives.
      </p>
      <p class="text">
        I am confident that all these goals will help Kabianga girls high school
        enhance the work environment that will provide a rewarding and rigorous
        educational experience for our students and conducive working
        environment to all employees. Your continuous participation will be
        greatly appreciated.
      </p>
    </div>
  </div>
  <div class="administration-row">
    <div class="administration-image">
      <img
        src="/assets/images/Rev.Eddward_Kirui_P.A_Chairman.jpg"
        alt="Image"
      />
      <h2 class="title">Rev. Eddward Kirui <span> - P.A Chairman </span></h2>

      <p class="text">
        My sincere appreciation goes to everyone who engaged either directly or
        indirectly in our strategic planning process. First is the school
        Administration led by the Principal, Mrs. Lucie Kirui; the PA Members;
        the BOM Members; the Teaching and Non-Teaching Staff Fraternity; the
        Student Community; and the technical team, among others. These teams
        provided invaluable feedback that helped ensure the development of
        focused and realistic goals that align to the needs and aspirations of
        our School, provided critical leadership during the strategic planning
        process, ensuring breadth of vision and continuity of values, and
        encouraging a truly collaborative, inclusive process.
      </p>
    </div>
    <div class="administration-text">
      <p class="text">
        This Strategic Plan will help provide a framework and serve as an
        important guide to help our School succeed bearing in mind the many
        challenges facing our learning institutions. The recognized challenges
        and opportunities will lay a firm foundation in strengthening our
        institutional capacity to help meet our goals and strategic objectives.
      </p>
      <p class="text">
        Our mission “To provide an ideal school environment that contributes to
        the holistic development of students in Academia, in Values and in
        Co-Curricular Activities” not only articulates our primary purpose to
        educate, support and inspire students to excel, but also serves as a
        call-to-action for us to recognize the importance of ensuring a firm
        foundation and acknowledgement of our core values. The upholding of our
        values as the foundational principles for our aspirations will help in
        fostering the unity of purpose in meeting our mission, vision and the
        goals identified in the Strategic Plan.
      </p>
      <p class="text">
        Our qualitative goals focus on delivering a quality curriculum and
        services to help students excel academically, while our quantitative
        goals ensure the provision and improvement of various infrastructural
        facilities needed to achieve this excellence. I am confident that all
        these goals will help the school enhance the work environment that will
        provide a rewarding and rigorous educational experience for our students
        and a conducive working environment to all our employees.
      </p>
      <p class="text">
        My thanks again to everyone who engaged in this strategic planning
        process, shaping the contents of this plan and enabling the roll out of
        a dynamic guide for the future Your continuous participation will be
        greatly appreciated!
      </p>
    </div>
  </div>
  <div class="administration-row">
    <div class="administration-text">
      <h2 class="title">Rev. Joel Korir <span> - Sponsor AIC Church </span></h2>
      <p class="text">
        We want to thank the Almighty God for this noble work in the development
        of this plan, which is one of the church’s vision from the inception of
        the church in the mid 1895. The church has since independence played an
        important role in promoting education in Kenya. The role of the church
        as a sponsor in our school cannot be over emphasised. One thing we know
        very well is that the church-sponsored schools lead the nation in exam
        scores. All the top schools in Kenya are the ones where the church is
        either the sponsor (public schools) or sole proprietor (private
        schools). We are mandated by the church to oversee the development and
        success of the schools, mainly to ensure spiritual development of the
        students. Religious education classes are mandated by the national
        curriculum so in our schools we teach Christian Religious Education
        (CRE). The moral values and discipline which is instilled in the
        children through our teachers and administrators. Most of our staff are
        Christians and they want to apply these values in their teaching and
        help the students become well-rounded and whole adults.
      </p>
      <p class="text">
        We laud the current school management and the Board for taking
        initiative in development of the strategic plan 2022-2027. This plan
        goes a long way in ensuring that we achieve our objective of ensuring
        that every child has an opportunity to obtain education. As a church we
        take education matters very seriously. We take this opportunity to thank
        all the stakeholders for the support and co-operation with them until to
        date. We thank God for all the efforts and support.
      </p>
      <p class="text">
        “ We can’t undo yesterday but we can act today to influence tomorrow.”
      </p>
    </div>
  </div>
</div>
